/* src/App.css */

.login-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container form div {
    margin-bottom: 10px;
}

.login-container input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-container .error {
    color: red;
    margin-bottom: 10px;
}


/* src/App.css */

.admin-home {
    text-align: center;
}

.admin-home header {
    background-color: #f8f8f8;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.admin-home nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #333;
}

.admin-home nav button {
    padding: 5px 10px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.welcome-emoji {
    font-size: 50px;
    margin-top: 20px;
}


/* App.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

h2 {
    color: #333;
    text-align: center;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

div {
    margin: 20px auto;
    width: 80%;
    text-align: center;
}

label {
    margin-right: 10px;
}

input[type="text"] {
    padding: 5px;
    width: 200px;
    margin-bottom: 10px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}